.podcast-table {
  margin-top: 20px;
	width: 100%;
  box-shadow: 0 0 5px #666666;
  padding-top: 2rem;
}


.podcast-table tbody tr:nth-child(even) {
	background-color: #ffffff;
}

.podcast-table tbody tr:nth-child(odd) {
	background-color: #f5efe8;
}

.podcast-table thead tr {
  height: 60px;
}

.podcast-table tr {
	height: 45px;
	border-bottom: 2px solid #d8d7d7;
	display: grid;
	grid-template-columns: 6fr 1fr 1fr;
	grid-gap: 4rem;
	justify-content: center;
	align-items: center;
}

.podcast-table td,
.podcast-table th {
	margin-left: 1rem;
}
